/* Resets */
html, body, div, textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

table {
  border-collapse: collapse;
}

textarea {
  outline: none;
  border: none;
  box-shadow: none;
  resize: none;
}

/* Normal */
body {
  font-family: sans-serif;
}

.pane {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .5em;
}

#editor {
  left: 0;
  background: #232646;
  color: #fff;
  caret-color: #d3bcff;
}

#editor::selection {
  background: #ab97d0;
}

#viewer {
  background: white;
  right: 0;
  word-wrap: break-word;
}

#viewer p {
  margin-bottom: 1em;
}

#viewer a {
  color: #622ec5;
}

table, th, td {
  border: 1px solid #aaa;
}

th, td {
  padding: .5em;
}